mat-card {
  display: flex;
  flex-direction: column;

  mat-card-content {
    padding: 0 !important;
    display: flex;
    flex-direction: column;

    ::ng-deep .mat-mdc-standard-chip .mdc-evolution-chip__text-label {
      font-size: 12px;
    }
  }
}
